<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Mini Cooper Site</title>
</head>
<body>
    <header>
        <nav class="nav">
            <img class="logo" src="images/mini_cooper.svg">
            <ul>
                <li>Shop Now</li>
                <li>Build & Price</li>
                <li>Menu</li>
            </ul>
        </nav>
    </header>
    <main id="app" class="main"> <!-- Vue will attach itself to this container -->

        <div class="pad">
            <img class="img" src="./images/hero_img.jpg"> <!-- Hero Img -->
        </div>
        
        <h3 class="family"> Become A Part Of The Mini Cooper Family! </h3> <!-- Become mini family bar -->

        <section class="three-items pad2">
            <div class="pad">
                <h3 class="miniName">Mini Cooper S All Electric</h3>
                <img class="miniImg pad" src="./images/mini-electric.jpg">
            </div>
            <div class="pad">
                <h3 class="miniName"> Mini Countryman All4</h3>
                <img class="miniImg pad" src="./images/mini-all4.jpg">
            </div>
            <div class="pad">
                <h3 class="miniName">Mini Cooper 3 Door</h3>
                <img class="miniImg pad" src="./images/mini-3door.jpg">
            </div>
        </section>

        <section class="three-items pad2">
            <div class="pad">
                <h3 class="miniName">Mini Cooper 5 Door</h3>
                <img class="miniImg pad" src="./images/mini-5door.jpg">
            </div>
            <div class="pad">
                <h3 class="miniName">Mini Cooper Convertable</h3>
                <img class="miniImg pad" src="./images/mini-convertable.jpg">
            </div>
            <div class="pad">
                <h3 class="miniName">Mini Countryman Hybrid SUV</h3>
                <img class="miniImg pad" src="./images/mini-suv.jpg">
            </div>
        </section>

        <nav id="character-nav">
            <ul class="characters">
                <!-- hero thumb component goes here -->
                <theminithumb @loadlbdata="loadLightbox" v-for="data in remoteData" :data="data"></theminithumb> <!-- represents TheHeroThumbnauil.js -->

            </ul>
        </nav>

        <!-- <section> 
            <div>
                <section v-for="prof in remoteData">
                    <div>
                        <h2>{{ prof.name }}</h2>
                        <h2>{{ prof.desc }}</h2>
                        <h3>{{ prof.features }}</h3>
                        <h3>{{ prof.price }}</h3>
                    </div>
        
                    <img class="miniImg" :src='"images/" + prof.biopic' :alt="'prof.name'">
                </section>
            </div>
        </section> -->

        <div class="centered hero-image"> <!-- Video -->
            <video controls class="video">
                <source src="assets/Hansen_Evan_Tenuta_Matthew_infomerical.mp4" type="video/mp4">
            </video>
        </div>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module" defer></script>

</body>
</html>