@supports (grid-area: auto) {

    .site {
       max-width: none;
    }

    /*------------ Grid Items ------------*/

    .head, .main > *, .foot {
       display: grid;
          grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .one-item {
       display: grid;
       grid-column: 2 / span 2;
       grid-template-columns: 1fr;
    }
    .two-items {
        display: grid;
        grid-column: 2 / span 2;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly; }

        .three-items {
         display: grid;
         grid-column: 1 / span 3;
         grid-template-columns: repeat(3, 1fr);
         justify-content: space-evenly;
         text-align: center;
         row-gap: 1em;
         column-gap: 1em;
      } 
}