
header {
    position: relative;
    top: 0em;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0px 5px 8px #888;
 }

 .logo {
  max-width: 200px;
  animation-duration: 4s;
  transition: .7s ease ;
 }

header img {
  width: 150px;
  max-height: 100px;
  background-color: white;
}

  header nav ul {
    margin: 3em 0 0 0;
    padding: 0em;
    text-decoration: none;
    text-align: center;
 }

  header nav li {
    display: inline;
    padding: 1em;
 }

 nav li a {
    text-decoration: none;
    color: #080808;
    font-size: inherit;
 }

.nav-element {
    font-size: 1.5em;
}

.nav-element:hover {
    color: #be1313;
    transition: ease-in-out .3s;
}

.nav-elementOverlay {
  font-size: 2.5em;
  transition: .5s ease ;
}

.shape-overlays {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* _____________________________________

   02. Mobile Nav
   _____________________________________ */

   @keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }

  #overlay-button {
    position: absolute;
    right: 1em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }

  #overlay-button span {
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #000000;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
  }

  #overlay-button span:before {
    top: -7px;
    visibility: visible;
  }

  #overlay-button span:after {
    top: 7px;
  }

  #overlay-button span:before, #overlay-button span:after {
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #6e0707;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }

  #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: #db0d0d;
  }
  
  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }

  input[type=checkbox]:checked ~ #overlay-button:hover span,
  input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }

  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(5px, 5px);
    opacity: 1;
  }

  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  #overlay {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(73, 73, 73));
    z-index: 2;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    /* This fixes scrolling issue */
    overflow: hidden;
    box-shadow: 0px 5px 8px #888;
  }

  #overlay.active {
    visibility: visible;
  }

  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }

  #overlay ul li {
    padding: .75em;
  }

  #overlay ul li a {
    color: white;
    text-decoration: none;
    line-height: 2em;
  }

  #overlay .tab1:hover {
    color: #5e0909;
    transition: ease-in-out .3s;
    
  }

  #overlay .tab2:hover {
    color: #5e0909;
    transition: ease-in-out .3s;
    
  }

  #overlay .tab3:hover {
    color: #5e0909;
    transition: ease-in-out .3s;
    
  }

