#character-nav { 
    text-align: center; 
  }
  
  .characters { list-style-type: none; }
  
  .characters li { 
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 10px 8px;
    width: fit-content;
  
  
    /* border: thin dashed white; */
  }
  
  .characters li a {
    text-decoration: none;
  }